<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signature</title>
    <link rel="stylesheet" href="./signs.css">
    <link rel="stylesheet" href="../global.css">
    <!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"> -->
</head>
<body>

    <main>
          
      <div class="recents-signatory-container" >
        <div class="title-container" >
          <h2> Récents </h2>
        </div>

        <div class="signatorys-container"  >

          <div class="signatory-container"  >

            <div class="left-side" >

              <div class="signatory-user-name" >
                Adolphe Mendy
              </div>

              <div class="signatory-user-real-name" >
                Adolphe Amadou Galland 
              </div>
            </div>

            <div class="signatureReceiver-user-signatureNumber" >
              dic1
            </div>
          </div>


          <div class="signatory-container" style="opacity: 0" >
            <div class="signatory-user-name" >
            </div>
            <div class="signatory-user-picture" >
            </div>
            <div class="signatureReceiver-user-signatureNumber" >
            </div>
          </div>

        </div>

      </div>
   
    </main>

    <nav>
      <div class="nav-bar-wrapper" >
          <div class="nav-bar-container" >
            <div class="icons-container" >
              <div class="icon-container" target="signature" >
                <!-- <div class="selected-icon-bar" *ngIf="faHouse == selectedIcon" ></div> -->
                <!-- <fa-icon [icon]="faHouse"  style="color: white" ></fa-icon> -->
                <i class="fa-solid fa-hashtag" target="signature">Sign.</i>
                <!-- <fa-icon [icon]="faHouse" >Sign</fa-icon> -->
              </div>
              <div class="icon-container" target="signs" >
                <!-- <div class="selected-icon-bar" *ngIf="faArrowUp91 == selectedIcon" ></div> -->
                <!-- <fa-icon [icon]="faArrowUp91"  style="color: white" ></fa-icon> -->
                <!-- <fa-icon [icon]="faArrowUp91"  > All </fa-icon> -->
                <i class="fa-solid fa-hashtag" target="signs">All</i>

              </div>
        
            </div>
          </div>
        </div>
        
  </nav>
      
    
</body>
<script type="module" src="signs.js" ></script>
</html>