.home-page-wrapper {
  margin-top: 1.5em;
  width: 100%;
  height: 100%;
}

.home-page-container {
  width: 100%;
  height: 100%;
}


.top-SignatureReceivers-container {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  height: 50%;

}

.title-container {

}

.signatureReceivers-container {
  display: flex;
  gap: 1em;
  overflow-x: scroll;
  margin-left: 1em;
}

.signatureReceiver-container {
    width: 20em;
    padding: 2em;
    margin-bottom: 2em;
    margin-left: 2em;
    height: 18em;
    border-radius: 1.5em;
    background: #b365fa;
    background: rgb(180,111,250);
    background: linear-gradient(331deg, rgb(240 110 250) 25%, rgba(136,0,233,1) 80%);
    box-shadow: rgb(240 110 250) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.user-infos-container {
  height: 100%;
  width: 192px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.signatureReceiver-user-name {
  font-size: x-large;
  font-weight: bold;
  color: white;
}

.signatureReceiver-user-picture {
  width: 7em;
  height: 7em;
  border-radius: 50%;
  overflow: hidden;
}

.signatureReceiver-user-picture img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.signatureReceiver-user-signatureNumber {
  color: white;
  font-size: large;
  text-transform: uppercase;
}


/*******/
.recents-signatory-container {
  padding: 10px;
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 1.5em
}

.title-container {
  margin-left: 1em;
}

.signatorys-container {
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  overflow-y: scroll;
}

.signatory-container {
  width: 90%;
  padding: 1em;
  border-radius: 1.5em;
  background: #8aacff;
  opacity: 0.8;
  box-shadow: #8aacff 0px 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.signatory-user-name {
  font-size: large;
  font-weight: bold;
  color: white;
}

.signatory-user-real-name {
  color: white;
}

.signatory-user-signatureNumber {
  color: white;
  font-size: large;
}


@media only screen and (min-width: 992px) {

  .home-page-container {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .top-SignatureReceivers-container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    height: 100%;
    width: 50%;
  }

  .signatureReceivers-container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: center;
    margin: 0;
  }

  .signatureReceiver-container {
    margin: 1em;
  }

  .recents-signatory-container {
    width: 50%;
  }
}
